<div>
  <h1>2 基本機能</h1>
  <div>
    <h2>2-1 テンプレート構文</h2>
    <div>
      <h3>Expressions</h3>
      <app-expressions></app-expressions>    
    </div>
    <div>
      <h3>Click</h3>
      <app-click></app-click>    
    </div>
    <div>
      <h3>Property Binding</h3>
      <app-property-binding></app-property-binding>
    </div>
    <div>
      <h3>Attribute Binding</h3>
      <app-attribute-binding></app-attribute-binding>
    </div>
    <div>
      <h3>Class Binding</h3>
      <app-class-binding></app-class-binding>
    </div>
    <div>
      <h3>Style Binding</h3>
      <app-style-binding></app-style-binding>
    </div>
    <div>
      <h3>Two-way Binding</h3>
      <app-two-way></app-two-way>
    </div>
  </div>
  <div>
    <h2>2-2 コンポーネントとディレクティブ</h2>
    <div>
      <h3>Simple Component</h3>
      <app-simple></app-simple>
    </div>
    <div>
      <h3>Directive</h3>
      <div app-underline>Directiveのサンプル</div>
    </div>
    <div>
      <h3>Service</h3>
      <app-sum></app-sum>
    </div>
    <div>
      <h3>親子コンポーネントのデータ受け渡し</h3>
      <app-parent></app-parent>
    </div>
  </div>
</div>
