<div>
  <h2>2 基本機能</h2>
  <div>
    <h3>2-1 テンプレート構文</h3>
    <div>
      <h4>Expressions</h4>
      <app-expressions></app-expressions>    
    </div>
    <div>
      <h4>Click</h4>
      <app-click></app-click>    
    </div>
    <div>
      <h4>Property Binding</h4>
      <app-property-binding></app-property-binding>
    </div>
    <div>
      <h4>Attribute Binding</h4>
      <app-attribute-binding></app-attribute-binding>
    </div>
    <div>
      <h4>Class Binding</h4>
      <app-class-binding></app-class-binding>
    </div>
    <div>
      <h4>Style Binding</h4>
      <app-style-binding></app-style-binding>
    </div>
    <div>
      <h4>Two-way Binding</h4>
      <app-two-way></app-two-way>
    </div>
  </div>
  <div>
    <h3>2-2 コンポーネントとディレクティブ</h3>
    <div>
      <h4>Simple Component</h4>
      <app-simple></app-simple>
    </div>
    <div>
      <h4>Directive</h4>
      <div app-underline>Directiveのサンプル</div>
    </div>
    <div>
      <h4>Service</h4>
      <app-sum></app-sum>
    </div>
    <div>
      <h4>親子コンポーネントのデータ受け渡し</h4>
      <app-parent></app-parent>
    </div>
  </div>
  <div>
    <h3>2-3 ビルトインディレクティブ</h3>
    <div>
      <h4>NgClass</h4>
      <app-ng-class></app-ng-class>
    </div>
    <div>
      <h4>NgStyle</h4>
      <app-ng-style></app-ng-style>
    </div>
    <div>
      <h4>NgFor</h4>
      <app-ng-for></app-ng-for>
    </div>
    <div>
      <h4>NgIf</h4>
      <app-ng-if></app-ng-if>
    </div>
    <div>
      <h4>NgSwitch/NgSwitchCase/NgSwitchDefault</h4>
      <app-ng-switch></app-ng-switch>
    </div>
  </div>
  <div>
    <h3>2-4 パイプ</h3>
    <div>
      <h4>Pipes</h4>
      <app-pipes></app-pipes>
    </div>
  </div>
  <h2>4 コンポーネント</h2>
  <div>
    <h3>4-1 コンポーネントとディレクティブ</h3>
    <app-ch04></app-ch04>
  </div>
  <div>
    <h3>4-2 メタデータ</h3>
    <div>
      <h4>Selector</h4>
      <app-selector></app-selector>
    </div>
    <div>
      <h4>Inputs</h4>
      <app-inputs></app-inputs>
    </div>
    <div>
      <h4>Outputs</h4>
      <app-outputs></app-outputs>
    </div>
    <div>
      <h4>Host</h4>
      <app-host></app-host>
    </div>
    <div>
      <h4>ExportAs</h4>
      <app-export-as></app-export-as>
    </div>
    <div>
      <h4>Providers</h4>
      <app-providers></app-providers>
    </div>
    <div>
      <h4>ViewProviders</h4>
      <app-view-providers-container></app-view-providers-container>
    </div>
    <div>
      <h4>ChangeDetection</h4>
      <app-change-detection-on-push></app-change-detection-on-push>
    </div>
    <div>
      <h4>Queries</h4>
      <app-queries></app-queries>
    </div>
    <div>
      <h4>Template/TemplateUrl</h4>
      <app-template></app-template>
    </div>
  </div>
</div>
